@page "/svg"
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<div class="my-2">
    <button class="btn btn-primary" @onclick="PridatObrazec">Přidat obrazec</button>
    <button class="btn btn-warning" @onclick="OdebratObrazec">Odebrat obrazec</button>

    <button class="btn btn-primary" @onclick="Posun">Spustit posun</button>
    <button class="btn btn-primary" @onclick="PosunZastavit">Zastavit posun</button>

    <input type="range" class="form-range" @bind-value=PosunKrok min="1" max="10">
</div>
<div>
    <button class="btn btn-primary" @onclick="Ulozit">Uložit</button>
    <button class="btn btn-primary" @onclick="NacistData">Načíst</button>
    <button class="btn btn-danger" @onclick="SmazatData">Smazat v LocalStrage</button>

</div>
<svg width="@SvgWidth" height="@SvgHeight" xmlns="http://www.w3.org/2000/svg" style="border-color:black; border-style:solid">
    @foreach (var item in SvgObrazceList)
    {
        switch (item)
        {
            case Models.Obdelnik obdelnik:
                <rect width="@obdelnik.StranaA" height="@obdelnik.StranaB" x="@obdelnik.PozX" y="@obdelnik.PozY"
                      style="fill:rgb(@obdelnik.Barva.R, @obdelnik.Barva.G, @obdelnik.Barva.B) ;stroke:black;stroke-width:2" />
                break;

            case Models.Ctverec ctverec:
                <rect width="@ctverec.StranaA" height="@ctverec.StranaA" x="@ctverec.PozX" y="@ctverec.PozY"
                      style="fill:rgb(@ctverec.Barva.R, @ctverec.Barva.G, @ctverec.Barva.B);stroke:black;stroke-width:2" />
                break;

            case Models.Kruh kruh:
                <circle r="@kruh.Polomer" cx="@kruh.PozX" cy="@kruh.PozY" fill="rgb(@kruh.Barva.R, @kruh.Barva.G, @kruh.Barva.B)" 
                stroke="black" stroke-width="2" />
                break;
            default:
                break;
        }
    }
    
    
    
    
</svg>

@code {

}
